<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

		   <div th:fragment="footer-content"  style="position: fixed;bottom: 0;text-align: center">
			<div class="container">				
				<hr style="width: 110%"/>
				<p>2017 @ <a th:href="@{https://github.com/WGwg}" target="_blank" style="text-decoration: none;"> Copy 刚子工作室</a></p>
			</div> <!-- /container -->
			</div>

<body th:fragment="footer">
<!-- Placed js at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/modernizr.min.js}"></script>
<script th:src="@{/js/jquery.nicescroll.js}"></script>

<!--common scripts for all pages-->
<script th:src="@{/js/scripts.js}"></script>

</body>
</html>
