<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

		   <div th:fragment="footer-content"  style="position: fixed;bottom: 0;text-align: center">
			<div class="container">				
				<hr style="width: 110%"/>
				<p>2017 @ <a th:href="@{https://github.com/WGwg}" target="_blank" style="text-decoration: none;"> Copy 刚子工作室</a></p>
			</div> <!-- /container -->
			</div>

<body th:fragment="footer">
<!-- Placed js at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/modernizr.min.js}"></script>
<script th:src="@{/js/jquery.nicescroll.js}"></script>

<!--easy pie chart-->
<script th:src="@{/js/easypiechart/jquery.easypiechart.js}"></script>
<script th:src="@{/js/easypiechart/easypiechart-init.js}"></script>

<!--Sparkline Chart-->
<script th:src="@{/js/sparkline/jquery.sparkline.js}"></script>
<script th:src="@{/js/sparkline/sparkline-init.js}"></script>

<!--icheck -->
<script th:src="@{/js/iCheck/jquery.icheck.js}"></script>
<script th:src="@{/js/icheck-init.js}"></script>

<!-- jQuery Flot Chart-->
<script th:src="@{/js/flot-chart/jquery.flot.js}"></script>
<script th:src="@{/js/flot-chart/jquery.flot.tooltip.js}"></script>
<script th:src="@{/js/flot-chart/jquery.flot.resize.js}"></script>


<!--Morris Chart-->
<script th:src="@{/js/morris-chart/morris.js}"></script>
<script th:src="@{/js/morris-chart/raphael-min.js}"></script>

<!--Calendar-->
<script th:src="@{/js/calendar/clndr.js}"></script>
<script th:src="@{/js/calendar/evnt.calendar.init.js}"></script>
<script th:src="@{/js/calendar/moment-2.2.1.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js}"></script>

<!--common scripts for all pages-->
<script th:src="@{/js/scripts.js}"></script>

<!--Dashboard Charts-->
<script th:src="@{/js/dashboard-chart-init.js}"></script>

<!--dynamic table-->
<script th:src="@{/js/advanced-datatable/js/jquery.dataTables.js}"></script>
<script th:src="@{/js/data-tables/DT_bootstrap.js}"></script>
<script th:src="@{/js/bootstrap-table.js}"></script>  
<script th:src="@{/js/bootstrap-table-export.js}"></script>
<script th:src="@{/js/bootstrap-table-zh-CN.js}"></script>
<script th:src="@{/js/tableExport.js}"></script>
<!--dynamic table initialization -->
<script th:src="@{/js/dynamic_table_init.js}"></script>


</body>
</html>
