<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CarManage.dao.CarInsuranceMapper">
  <resultMap id="BaseResultMap" type="com.CarManage.entitys.CarInsurance">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="REGISTRANTID" jdbcType="VARCHAR" property="registrantid" />
    <result column="REGISTRANT" jdbcType="VARCHAR" property="registrant" />
    <result column="REGISTTIME" jdbcType="TIMESTAMP" property="registtime" />
    <result column="CARNUM" jdbcType="VARCHAR" property="carnum" />
    <result column="INSURENO" jdbcType="VARCHAR" property="insureno" />
    <result column="INSURECORP" jdbcType="VARCHAR" property="insurecorp" />
    <result column="HANDLER" jdbcType="VARCHAR" property="handler" />
    <result column="INSUREPRICE" jdbcType="INTEGER" property="insureprice" />
    <result column="STARTDATE" jdbcType="TIMESTAMP" property="startdate" />
    <result column="ENDDATE" jdbcType="TIMESTAMP" property="enddate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, REGISTRANTID, REGISTRANT, REGISTTIME, CARNUM, INSURENO, INSURECORP, HANDLER, 
    INSUREPRICE, STARTDATE, ENDDATE, REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_insurance
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car_insurance
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.CarManage.entitys.CarInsurance">
    insert into car_insurance (ID, REGISTRANTID, REGISTRANT, 
      REGISTTIME, CARNUM, INSURENO, 
      INSURECORP, HANDLER, INSUREPRICE, 
      STARTDATE, ENDDATE, REMARK
      )
    values (#{id,jdbcType=INTEGER}, #{registrantid,jdbcType=VARCHAR}, #{registrant,jdbcType=VARCHAR}, 
      #{registtime,jdbcType=TIMESTAMP}, #{carnum,jdbcType=VARCHAR}, #{insureno,jdbcType=VARCHAR}, 
      #{insurecorp,jdbcType=VARCHAR}, #{handler,jdbcType=VARCHAR}, #{insureprice,jdbcType=INTEGER}, 
      #{startdate,jdbcType=TIMESTAMP}, #{enddate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.CarManage.entitys.CarInsurance">
    insert into car_insurance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="registrantid != null">
        REGISTRANTID,
      </if>
      <if test="registrant != null">
        REGISTRANT,
      </if>
      <if test="registtime != null">
        REGISTTIME,
      </if>
      <if test="carnum != null">
        CARNUM,
      </if>
      <if test="insureno != null">
        INSURENO,
      </if>
      <if test="insurecorp != null">
        INSURECORP,
      </if>
      <if test="handler != null">
        HANDLER,
      </if>
      <if test="insureprice != null">
        INSUREPRICE,
      </if>
      <if test="startdate != null">
        STARTDATE,
      </if>
      <if test="enddate != null">
        ENDDATE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="registrantid != null">
        #{registrantid,jdbcType=VARCHAR},
      </if>
      <if test="registrant != null">
        #{registrant,jdbcType=VARCHAR},
      </if>
      <if test="registtime != null">
        #{registtime,jdbcType=TIMESTAMP},
      </if>
      <if test="carnum != null">
        #{carnum,jdbcType=VARCHAR},
      </if>
      <if test="insureno != null">
        #{insureno,jdbcType=VARCHAR},
      </if>
      <if test="insurecorp != null">
        #{insurecorp,jdbcType=VARCHAR},
      </if>
      <if test="handler != null">
        #{handler,jdbcType=VARCHAR},
      </if>
      <if test="insureprice != null">
        #{insureprice,jdbcType=INTEGER},
      </if>
      <if test="startdate != null">
        #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CarManage.entitys.CarInsurance">
    update car_insurance
    <set>
      <if test="registrantid != null">
        REGISTRANTID = #{registrantid,jdbcType=VARCHAR},
      </if>
      <if test="registrant != null">
        REGISTRANT = #{registrant,jdbcType=VARCHAR},
      </if>
      <if test="registtime != null">
        REGISTTIME = #{registtime,jdbcType=TIMESTAMP},
      </if>
      <if test="carnum != null">
        CARNUM = #{carnum,jdbcType=VARCHAR},
      </if>
      <if test="insureno != null">
        INSURENO = #{insureno,jdbcType=VARCHAR},
      </if>
      <if test="insurecorp != null">
        INSURECORP = #{insurecorp,jdbcType=VARCHAR},
      </if>
      <if test="handler != null">
        HANDLER = #{handler,jdbcType=VARCHAR},
      </if>
      <if test="insureprice != null">
        INSUREPRICE = #{insureprice,jdbcType=INTEGER},
      </if>
      <if test="startdate != null">
        STARTDATE = #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null">
        ENDDATE = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CarManage.entitys.CarInsurance">
    update car_insurance
    set REGISTRANTID = #{registrantid,jdbcType=VARCHAR},
      REGISTRANT = #{registrant,jdbcType=VARCHAR},
      REGISTTIME = #{registtime,jdbcType=TIMESTAMP},
      CARNUM = #{carnum,jdbcType=VARCHAR},
      INSURENO = #{insureno,jdbcType=VARCHAR},
      INSURECORP = #{insurecorp,jdbcType=VARCHAR},
      HANDLER = #{handler,jdbcType=VARCHAR},
      INSUREPRICE = #{insureprice,jdbcType=INTEGER},
      STARTDATE = #{startdate,jdbcType=TIMESTAMP},
      ENDDATE = #{enddate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>